@charset "UTF-8";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.375;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.site-wrapper ul,
.catalog-wrapper ul {
  list-style: none;
}

.site-wrapper a,
.catalog-wrapper a {
  text-decoration: none;
  cursor: pointer;
}

.btn {
  padding-top: 10px;
  padding-bottom: 13px;
  font: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  color: #fefefe;
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  border-radius: 25px;
  text-decoration: none;
}

.container h1,
.container h2 {
  font-size: 35px;
  line-height: 1.17em;
  font-weight: bold;
}

.site-wrapper {
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
  -o-transition: background-image 0.5s ease, background-color 0.5s ease;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/promo-layer1.png");
}

.site-wrapper::after {
  background-image: url("../img/promo-layer2.png");
}

.container {
  position: relative;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 27px;
  padding-right: 27px;
}

.container-large {
  width: 1200px;
  margin-left: -27px;
  margin-right: -27px;
}

.container a {
  color: #fff;
}

/*header*/
/*main-navigation*/

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 73px;
}

.header-logo {
  width: 155px;
  padding-top: 9px;
}

.main-navigation {
  width: 700px;
  padding-top: 30px;
}

.user-block_wrapper {
  width: 291px;
  padding-top: 23px;
}

.main-navigation .main-menu,
.user-block_wrapper ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.main-menu .catalog,
.main-menu .delivery,
.main-menu .about {
  display: block;
  padding: 8px 15px;
  background-color: rgba(247, 246, 243, 0);
  border-radius: 20px 20px 20px 20px;
}

.main-menu > li {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.main-menu > li:first-child {
  padding-bottom: 10px;
}

.main-menu .catalog {
  margin-left: 7px;
}

.main-menu .catalog,
.main-menu .delivery,
.main-menu .about {
  margin-top: -8px;
}

.main-menu a {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.main-menu span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-navigation .sub-menu {
  position: absolute;
  top: 30px;
  left: 2px;
  z-index: 1;
  width: 142px;
  margin: 0;
  padding: 0;
  background-color: #f8f7f4;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  list-style: none;
  display: none;
}

.main-menu > li:hover .catalog,
.main-menu > li:hover .delivery,
.main-menu > li:hover .about {
  background-color: rgb(247, 246, 243);
  color: #333333;
  text-decoration: none;
}

.main-menu > li:hover span {
  border: none;
}

.main-menu > li:hover .catalog {
  color: #333333;
  text-decoration: none;
}

.main-menu > li:first-child:hover .sub-menu {
  display: block;
}

.main-menu > li > a:active:not(.active) {
  background-color: #ededed;
  -webkit-box-shadow: inset 0px 2px 1px 0px #696969;
          box-shadow: inset 0px 2px 1px 0px #696969;
}

.sub-menu li:last-child {
  padding-bottom: 10px;
}

.sub-menu li {
  padding-top: 5px;
}

.sub-menu .news {
  position: relative;
  padding: 10px 20px 12px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: #323232;
}

.sub-menu .news::before {
  position: absolute;
  content: "";
  top: 40px;
  left: 7px;
  width: 128px;
  height: 1px;
  background-color: #d1d0ce;
}

.sub-menu span {
  border: none;
}

.sub-menu a {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #323232;
  text-decoration: none;
}

.sub-menu a:hover:not(.active) {
  background-color: #fbded7;
}

.sub-menu a:active:not(.active) {
  background-color: #f6b5a5;
}

.sub-menu .active {
  background-color: #d07058;
}

/*user-block*/

.user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.user-block li {
  position: relative;
  height: 32px;
  margin-right: 0;
  text-align: center;
  border-radius: 20px;
}

.user-block .user-block_basket {
  width: 117px;
  margin-left: 10px;
}

.user-block .user-block_search {
  height: 40px;
  padding-bottom: 10px;
  background: none;
}

.user-block .user-block_entrance {
  width: 92px;
  height: 40px;
  margin-left: 10px;
  padding-bottom: 10px;
  background: none;
}

.user-block_icons {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  border-radius: 20px;
  background-color: red;
}

.user-block_icons .entrance {
  position: absolute;
  top: 7px;
  left: 17px;
  margin-right: 5px;
}

.user-block_icons .basket {
  position: absolute;
  top: 7px;
  left: 16px;
  margin-right: 5px;
}

.user-block_icons span {
  font-size: 14px;
  line-height: 16px;
  line-height: 32px;
  color: white;
}

.user-block_entrance span {
  margin-left: 28px;
}

.user-block_basket span {
  margin-left: 10px;
}

.user-block .search-wrapper {
  position: absolute;
  top: 36px;
  right: 0;
  padding: 20px 15px;
  background-color: rgb(248, 247, 244);
  border-radius: 6px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  display: none;
}

.search-wrapper input {
  width: 310px;
  height: 44px;
  padding-left: 13px;
  font-size: 14px;
  line-height: 24px;
  color: rgb(153, 153, 153);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(211, 211, 210);
  border-radius: 5px;
}

.user-block input::-webkit-input-placeholder {
  color: rgb(153, 153, 153);
}

.user-block input:-moz-placeholder {
  color: rgb(153, 153, 153);
}

.user-block_search:hover .search-wrapper {
  display: block;
}

.user-block_search .user-block_icons {
  width: 32px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 50px;
}

.user-block_search:hover .user-block_icons,
.user-block_entrance:hover .user-block_icons,
.user-block_basket:hover .user-block_icons {
  background-color: rgb(248, 247, 244);
}

.user-block_icons {
  background-color: rgba(255, 255, 255, 0.2);
}

.user-block_search:hover span,
.user-block_entrance:hover span,
.user-block_basket:hover span {
  color: #323232;
}

.user-block_search:hover .loupe,
.user-block_entrance:hover .entrance,
.user-block_basket:hover .basket {
  fill: #000;
}

.user-block .login-form {
  position: absolute;
  top: 36px;
  right: 0;
  z-index: 1;
  width: 277px;
  margin: 0;
  padding: 0;
  padding: 20px 17px;
  font-size: 0;
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  display: none;
}

.user-block_entrance:hover .login-form {
  display: block;
}

.login-form input:not(.btn) {
  width: 241px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 13px;
  font-size: 14px;
  line-height: 24px;
  color: rgb(153, 153, 153);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(211, 211, 210);
  border-radius: 5px;
}

.login-form input[type="email"] {
  margin-bottom: 20px;
}

.login-form .btn {
  width: 101px;
  height: 45px;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-radius: 20px/24px;
}

.form-links {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  padding-top: 5px;
}

.form-links a {
  position: relative;
  display: block;
  width: 120px;
  font-size: 13px;
  line-height: 1;
  text-align: left;
  color: #323232;
}

.form-links .password {
  margin-bottom: 8px;
}

.form-links .password::before,
.form-links .registration::before {
  position: absolute;
  content: "";
  top: 13px;
  left: 0;
  width: 100px;
  height: 1px;
  background-color: rgba(50, 50, 50, 0.3);
}

.form-links .registration::before {
  width: 118px;
}

.form-links a:hover,
.form-links a:active {
  color: #e84d37;
}

.form-links a:hover::before,
.form-links a:active::before {
  background-color: #ffbc9e;
}

/*main*/

.promo {
  width: 100%;
  font-weight: bold;
  text-align: right;
}

.promo p {
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 14px;
  line-height: 16px;
}

.promo span {
  font-size: 22px;
  line-height: 24px;
}

/*slider*/

.slider {
  position: relative;
  margin-bottom: 40px;
  padding-top: 275px;
  text-align: center;
  color: #ffffff;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 800;
  font-size: 60px;
  line-height: 60.35px;
}

.slide-btn {
  display: inline-block;
  vertical-align: top;
  padding: 11px 40px;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background:         -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background:         -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background:         -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: rgba(248, 247, 244, 0.4);
}

.slider-controls label:active {
  background-color: rgb(255, 255, 255);
}

body > input[type="radio"] {
  display: none;
}

.slide {
  display: none;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/promo-layer1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/promo-layer2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/promo-layer3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

/*features*/

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}

.features .features-block {
  width: 560px;
  border-radius: 15px;
}

.offer {
  margin-top: 40px;
}

.first-offer,
.second-offer {
  position: relative;
  vertical-align: middle;
  height: 229px;
  padding: 15px 20px;
  font-weight: bold;
}

.first-offer {
  background: red url("../img/background-offer1.jpg") 0 0 no-repeat;
}

.second-offer {
  background: brown url("../img/background-offer2.jpg") 0 0 no-repeat;
}

.offer h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
}

.offer p {
  margin-top: 16px;
  font-size: 18px;
  line-height: 22px;
}

.offer .btn {
  position: absolute;
  padding-top: 10px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  background: #f26843;
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  opacity: 0.988;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
          box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border-radius: 25px;
  text-decoration: none;
}

.offer .btn:hover {
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background:         -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.offer .btn:active {
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background:         -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.first-offer .btn {
  top: 160px;
  left: 375px;
  width: 165px;
}

.second-offer .btn {
  top: 160px;
  left: 350px;
  width: 189px;
}

.features-item {
  margin-left: -13px;
  margin-right: -13px;
}

.features-item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.features-item .item {
  position: relative;
  vertical-align: middle;
  width: 293px;
  margin-bottom: 35px;
  padding-top: 5px;
  text-align: center;
}

.features-item .item::after {
  position: absolute;
  content: "";
  top: 5px;
  left: 13px;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  overflow: hidden;
  background: white url("../img/hit.svg") 0 0 no-repeat;
}

.item img {
  position: relative;
  margin-bottom: 8px;
}

.features-item p,
.catalog-items p {
  position: absolute;
  top: 169px;
  left: 13px;
  font-size: 45px;
  font-weight: bold;
  line-height: 1;
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.features-item span {
  position: relative;
  margin-left: 35px;
  font-size: 30px;
  line-height: 45px;
}

.catalog-items span {
  position: relative;
  margin-left: 35px;
  font-size: 30px;
  line-height: 45px;
}

.catalog-items span::before {
  position: absolute;
  content: "";
  top: -4px;
  right: 40px;
  width: 31px;
  height: 36px;
  background: url("../img/ruble.svg") 0 0 no-repeat;
}

.features-item span::before {
  position: absolute;
  content: "";
  top: -4px;
  right: 42px;
  width: 31px;
  height: 36px;
  background: url("../img/ruble.svg") 0 0 no-repeat;
}

.item .link-item {
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 2;
}

.item .link-item:hover {
  color: #ffbc9e;
  border-bottom: 1px solid #ffbc9e;
}

.link-item-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.benefits {
  padding: 25px 20px 0;
  margin-bottom: 40px;
  color: #323232;
  background: url("../img/background-benefits.png") 0 0 no-repeat;
  border-radius: 15px;
}

.benefits h3 {
  width: 100%;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

.benefits p {
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 540px;
  margin-top: 0;
  padding-top: 15px;
  padding-left: 57px;
  font-size: 16px;
  line-height: 22px;
}

.benefits p::before {
  position: absolute;
  content: "";
  top: 2px;
  left: 0;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  overflow: hidden;
}

.benefits .benefits-first::before {
  top: 2px;
  left: 0;
  background: url("../img/ice-cream.svg") 0 0 no-repeat;
}

.benefits .benefits-second {
  top: 2px;
  left: 0;
  background: url("../img/cow.svg") 0 0 no-repeat;
}

.benefits .benefits-third {
  top: 2px;
  left: 0;
  background: url("../img/eco.svg") 0 0 no-repeat;
}

.benefits .benefits-fourth {
  top: 2px;
  left: 0;
  background: url("../img/thermometer.svg") 0 0 no-repeat;
}

.benefits-first,
.benefits-second {
  margin-bottom: 7px;
}

.benefits-first,
.benefits-third {
  margin-right: 22px;
}

.benefits-third,
.benefits-fourth {
  margin-bottom: 25px;
}

.blog {
  padding: 21px 250px 80px 20px;
  color: #323232;
  background: white url("../img/background-blog.jpg") 0 0 no-repeat;
}

.blog h4 {
  margin-bottom: 6px;
  margin-top: 0;
  font-weight: 200;
}

.blog a {
  position: relative;
  font: inherit;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: inherit;
  border-bottom: 2px solid #323232;
  cursor: pointer;
}

.blog a:hover {
  color: #e84d37;
  border-color: #ffbc9e;
}

.substrate {
  padding: 5px;
  background: white url("../img/bg-post.svg") 0 0 repeat;
}

.post {
  height: 100%;
  padding: 28px 20px;
  color: #5a5a5a;
  background-color: #f8f7f4;
  border-radius: 15px;
}

.post p {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

.post .email-label-box {
  position: relative;
  margin-top: 0px;
  background-color: red;
}

.post .email-label-box label {
  position: absolute;
  top: 27px;
  left: 14px;
  font: inherit;
  color: rgb(153, 153, 153);
  pointer-events: none;
}

.post input[type="email"]:focus ~ .email-label-box label,
.post input[type="email"]:valid ~ .email-label-box label {
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
}

.email {
  width: 370px;
  margin-top: 15px;
  margin-right: 7px;
  padding: 12px 15px;
  font-family: inherit;
  font-size: 16px;
  border: 1px solid rgb(178, 178, 178);
  opacity: 0.52;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  outline: none;
}

.post .btn {
  width: 129px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background: #f26843;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
          box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border: none;

}

.post .btn:hover {
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background:         -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.post .btn:active {
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background:         -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  outline: none;
}

/*map*/

.map {
  position: relative;
  max-height: 430px;
  font-size: 0;
  background: url("../img/bg-map.jpg") 50% 0 no-repeat;
}

.iframe-map {
   width: 100%;
   height: 430px;
}

.address {
  position: absolute;
  right: 27px;
  bottom: 62px;
  width: 302px;
  padding: 28px 25px 30px 25px;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  background-color: #fffefe;
  border-radius: 15px;
}

.address p {
  margin: 0;
}

.address .first {
  margin-bottom: 2px;
  padding-right: 100px;
}

.address .second {
  margin-bottom: 17px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.address .third {
  margin-bottom: 5px;
}

.address .fourth {
  margin-bottom: 2px;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}

.address .fifth {
  margin-bottom: 23px;
  line-height: 22px;
}

.address .btn {
  display: block;
  padding-left: 27px;
  padding-right: 27px;
  background: #f26843;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
          box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.address .btn:hover {
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background:         -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.address .btn:active {
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background:         -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/*footer*/

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 105px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-social {
  padding-top: 36px;
}

.social-btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 12px;
  -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-btn:hover,
.social-btn:active {
  -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.7);
          box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.7);
}

.social-btn:active {
  -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.7),
              inset 0px 2px 1px 0px black;
          box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.7),
              inset 0px 2px 1px 0px black;
}

.social-btn:hover .social {
  opacity: 1;
}

.social-btn:active .social {
  opacity: 0.7;
}

.footer-information {
  padding-top: 34px;
}

.footer-information .information {
  width: 350px;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.footer-information li {
  display: inline-block;
  vertical-align: top;
}

.footer-information .provider {
  width: 163px;
  margin-bottom: 4px;
  padding-left: 21px;
  font-weight: bold;
}

.footer-information .documents {
  width: 170px;
  margin-bottom: 4px;
}

.footer-information .production {
  width: 163px;
  padding-left: 21px;
}

.footer-information .standarts {
  width: 170px;
}

.footer-information .heart {
  position: relative;
}

.footer-information a {
  font-size: 13px;
  line-height: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-information .heart::before {
  position: absolute;
  content: "";
  top: 2px;
  left: -21px;
  width: 15px;
  height: 13px;
  background: url("../img/heart.svg") 0 0 no-repeat;
}

.footer-information a:hover {
  color: #ffbc9e;
  border-bottom: 1px solid #ffbc9e;
}

.footer-copyright {
  padding-top: 18px;
  font-size: 12px;
  line-height: 18px;
}

.footer-copyright p {
  margin-top: 0;
}

.footer-copyright .link-academy {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-copyright .link-academy:hover {
  color: #ffbc9e;
  border-bottom: 1px solid #ffbc9e;
}

/*modal-window*/

.overlay {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

.overlay-show {
  display: block;
}

.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 6;
  width: 478px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 10px;
  background-color: rgb(248, 247, 244);
  display: none;
}

.modal-window-show {
  display: block;
}

.modal-window h3 {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.modal-window-form {
  position: relative;
  font-size: 16px;
  line-height: 24px;
}

.modal-window button {
  position: absolute;
  top: 13px;
  right: 10px;
  border: none;
  background: none;
  cursor: pointer;
}

.modal-window-form input:not(.btn) {
  width: 269px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 10px;
  padding-bottom: 8px;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid rgb(178, 178, 178);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}

.modal-window-form textarea {
  width: 430px;
  height: 153px;
  margin-bottom: 20px;
  padding-top: 8px;
  padding-left: 12px;
  padding-right: 10px;
  padding-bottom: 8px;
  font-size: 16px;
  line-height: 24px;
  color: rgb(153, 153, 153);
  border: 1px solid rgb(178, 178, 178);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}

.modal-window-form input:hover:not(.btn),
.modal-window-form textarea:hover {
  padding-top: 8px;
  padding-left: 11px;
  padding-right: 9px;
  padding-bottom: 8px;
  border: 2px solid rgb(154, 154, 154);
}

.modal-window-form input:focus:not(.btn),
.modal-window-form textarea:focus  {
  padding-top: 8px;
  padding-left: 11px;
  padding-right: 9px;
  padding-bottom: 8px;
  border: 2px solid rgb(46, 136, 228);
  outline: none;
}

.modal-window-form .email-label-box,
.modal-window-form .name-label-box,
.modal-window-form .text-label-box {
  position: relative;
}

.email-label-box label,
.name-label-box label {
  position: absolute;
  top: -54px;
  left: 14px;
  font: inherit;
  color: rgb(153, 153, 153);
  pointer-events: none;
}

.text-label-box label {
  position: absolute;
  top: -170px;
  left: 14px;
  font: inherit;
  color: rgb(153, 153, 153);
  pointer-events: none;
}

.modal-window-form input[name="name"]:focus ~ .name-label-box label,
.modal-window-form input[name="email"]:focus ~ .email-label-box label,
.modal-window-form textarea[name="field"]:focus ~ .text-label-box label {
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
  -webkit-transform: translateY(-26px);
      -ms-transform: translateY(-26px);
          transform: translateY(-26px);
}

.modal-window-form .btn {
  display: block;
  width: 139px;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 27px;
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
          box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.modal-window-form .btn:hover {
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background:         -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.modal-window-form .btn:active {
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background:         -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}


.modal-window input::-webkit-input-placeholder {
  color: rgb(153, 153, 153);
}

.modal-window input:-moz-placeholder {
  color: rgb(153, 153, 153);
}

/* catalog.html*/

.catalog-wrapper {
  margin-left: auto;
  margin-right: auto;
  background-color: #849d8f;
}

.main-menu .active {
  text-decoration: none;
}

.main-menu .active span {
  border: none;
}

.catalog-li > .active {
  display: block;
  margin-top: -8px;
  margin-left: 7px;
  padding: 8px 15px;
  border-radius: 20px 20px 20px 20px;
  background-color: rgb(208, 112, 88);
}

.user-block li:last-child {
  position: relative;
}

/*basket*/

.user-block .user-block-basket_catalog {
  width: 117px;
  height: 40px;
  padding-bottom: 10px;
  margin-left: 10px;
}

.user-block_icons .catalog-basket {
  left: 16px;
}

.user-block_icons .catalog-span {
  margin-left: 26px;
  color: #323232;
}

.user-block .basket-items {
  position: absolute;
  top: 36px;
  right: 0;
  z-index: 1;
  width: 539px;
  padding: 20px 15px 0px 15px;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  display: none;
}

.user-block-basket_catalog .user-block_icons {
  background-color: rgb(248, 247, 244);
}

.user-block-basket_catalog:hover .basket-items {
  display: block;
}

.table-basket {
  position: relative;
  border-collapse: collapse;
}

.table-basket caption {
  margin-top: 25px;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  caption-side: bottom;
  text-align: right;
}

.table-basket td {
  vertical-align: top;
  height: 50px;
  margin: 0;
  padding: 0;
}

.weight-cell-first > span,
.weight-cell-second > span {
  color: #999;
}

button,
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.table-basket .button-cell-first {
  padding-left: 5px;
  padding-top: 8px;
  padding-right: 10px;
}

.table-basket .button-cell-second {
  padding-top: 12px;
  padding-left: 5px;
  padding-right: 10px;
}

.table-basket .ice-cream-cell-first {
  width: 33px;
  vertical-align: top;
}

.table-basket .ice-cream-cell-second {
  width: 33px;
  padding-top: 3px;
}

.table-basket .name-cell-first {
  width: 248px;
  padding-top: 8px;
}

.table-basket .name-cell-second {
  width: 248px;
  padding-top: 12px;
  padding-left: 15px;
  text-align: left;
}

.table-basket .weight-cell-first {
  width: 125px;
  padding-top: 8px;
}

.table-basket .weight-cell-second {
  width: 125px;
  padding-top: 12px;
}

.table-basket .price-cell-first {
  width: 82px;
  padding-top: 8px;
}

.table-basket .price-cell-second {
  width: 82px;
  padding-top: 12px;
}

.basket-items::before {
  position: absolute;
  content: "";
  top: 130px;
  left: 15px;
  width: 510px;
  height: 1px;
  background-color: #cacac7;
}

.basket-items .btn {
  display: block;
  width: 170px;
  min-height: 45px;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 20px/24px;
  -webkit-box-shadow: 0px 1px 2px 0px rgb(172, 16, 0);
          box-shadow: 0px 1px 2px 0px rgb(172, 16, 0);
}

.basket-items .btn:hover {
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background:         -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.basket-items .btn:active {
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background:         -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/*main*/

.promo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.breadcrumbs {
  width: 267px;
  margin-top: auto;
}

.breadcrumbs ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumbs li {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs span {
  margin-left: 3px;
  margin-right: 3px;
}

.breadcrumbs a:not(.active) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs a:hover:not(.active) {
  color: #ffbc9e;
  border-bottom: 1px solid #ffbc9e;
}

.workhours {
  width: 267px;
  margin: 0;
  padding: 0;
}

/*filters*/

.search-container h1 {
  margin-top: 5px;
  margin-bottom: 25px;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 37px;
}

.search-form fieldset {
  margin: 0;
  margin-right: 15px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  border: none;
}

.search-form legend {
  margin-left: 13px;
  font-size: 14px;
  line-height: 16px;
}

.sorting-field select {
  width: 194px;
  height: 36px;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 11px;
  border-radius: 20px;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  -webkit-appearance: none;
  background: url("../img/select-arrow.svg");
  background-position: 170px center;
  background-repeat: no-repeat;
  background-color: rgba(248, 247, 244, 0.2);
  border: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  -o-text-overflow: "";
     text-overflow: "";
  -ms-appearance: none;
  appearance: none!important;
}

.sorting-field select ms::-ms-expand {
  display: none;
}

.sorting-field select:hover {
  background: url("../img/select-arrow-black.svg");
  background-position: 170px center;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
  color: #323232;
}

.price-wrapper {
  width: 218px;
  height: 36px;
  padding-top: 16px;
  padding-left: 21px;
  padding-right: 21px;
  border-radius: 20px;
  background-color: rgba(248, 247, 244, 0.2);
}

.range-block {
  position: relative;
  width: 177px;
}

.range-block .scale {
  height: 4px;
  background-color: rgba(248, 247, 244, 0.502);
}

.range-block .bar {
  width: 116px;
  height: 4px;
  margin-left: 15px;
  background: #fff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}

.range-toggle::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #ababab;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.range-toggle:hover {
  cursor: pointer;
}

.range-toggle-min {
  left: 13px;
}

.range-toggle-max {
  left: 112px;
}

.richness-wrapper {
  width: 415px;
  height: 36px;
  padding-top: 8px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 16px;
  line-height: 18px;
  border-radius: 20px;
  background-color: rgba(248, 247, 244, 0.2);
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.richness-wrapper input[type="radio"] + label {
  position: relative;
  padding-left: 30px;
}

.richness-wrapper input[type="radio"]:first-child + label {
  margin-right: 15px;
}

.richness-wrapper input[type="radio"]:nth-child(3) + label {
  margin-right: 17px;
}

.richness-wrapper input[type="radio"]:nth-child(5) + label {
  margin-right: 16px;
}

.richness-wrapper input[type="radio"] + label::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: url("../img/radio-off-normal.svg") 0 0 no-repeat;
}

.richness-wrapper input[type="radio"]:focus + label::before {
  outline: rgb(59, 153, 252) auto 5px;
}

.richness-wrapper input[type="radio"]:disabled + label::before {
  background: url("../img/radio-off-disabled.svg") 0 0 no-repeat;
}

.richness-wrapper input[type="radio"]:hover:not(:disabled) + label::before {
  background: url("../img/radio-off-hover.svg") 0 0 no-repeat;
}

.richness-wrapper input[type="radio"]:checked + label::before {
  background: url("../img/radio-on-normal.svg") 0 0 no-repeat;
}

.richness-wrapper input[type="radio"]:checked:hover:not(:disabled) + label::before {
  background: url("../img/radio-on-hover.svg") 0 0 no-repeat;
}

.richness-wrapper input[type="radio"]:checked:disabled + label::before {
  background: url("../img/radio-on-disabled.svg") 0 0 no-repeat;
}

.search-form .filler-field {
  margin-top: 16px;
}

.filler-wrapper {
  width: 702px;
  height: 36px;
  margin-left: 0;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  line-height: 18px;
  border-radius: 20px;
  background-color: rgba(248, 247, 244, 0.2);
}

.filler-wrapper input[type="checkbox"]:first-child + label {
  margin-right: 17px;
}

.filler-wrapper input[type="checkbox"]:nth-child(3) + label {
  margin-right: 20px;
}

.filler-wrapper input[type="checkbox"]:nth-child(5) + label {
  margin-right: 24px;
}

.filler-wrapper input[type="checkbox"]:nth-child(7) + label {
  margin-right: 19px;
}

.filler-wrapper input[type="checkbox"] + label {
  position: relative;
  padding-left: 30px;
}

.filler-wrapper input[type="checkbox"] + label::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
  background: url("../img/checkbox-off-normal.svg") 0 0 no-repeat;
}

.filler-wrapper input[type="checkbox"]:focus + label::before {
  outline: rgb(59, 153, 252) auto 5px;
}

.filler-wrapper input[type="checkbox"]:disabled + label::before {
  background: url("../img/checkbox-off-disabled.svg") 0 0 no-repeat;
}

.filler-wrapper input[type="checkbox"]:hover:not(:disabled) + label::before {
  background: url("../img/checkbox-off-hover.svg") 0 0 no-repeat;
}

.filler-wrapper input[type="checkbox"]:checked + label::before {
  background: url("../img/checkbox-on-normal.svg") 0 0 no-repeat;
}

.filler-wrapper input[type="checkbox"]:checked:hover:not(:disabled) + label::before {
  background: url("../img/checkbox-on-hover.svg") 0 0 no-repeat;
}

.filler-wrapper input[type="checkbox"]:checked:disabled + label::before {
  background: url("../img/checkbox-on-disabled.svg") 0 0 no-repeat;
}

.search-form .form-btn {
  width: 144px;
  height: 37px;
  margin-top: auto;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  border: solid 2px rgb(255, 255, 255);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.188);
}

.search-form .form-btn:hover {
  border: none;
  color: #323232;
  background-color: rgb(255, 255, 255);
}

.search-form .form-btn:active {
  border: none;
  background-color: rgb(234, 234, 234);
  -webkit-box-shadow: inset 0px 2px 1px 0px rgb(106, 107, 106);
          box-shadow: inset 0px 2px 1px 0px rgb(106, 107, 106);
  color: #323232;
}

/*catalog-items*/

.catalog-items {
  margin-left: -13px;
  margin-right: -13px;
}

.catalog-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.item .first-item {
  text-align: center;
}

.catalog-items .item,
.features-item .item {
  position: relative;
  vertical-align: middle;
  width: 293px;
  margin-bottom: 40px;
  padding-top: 5px;
  text-align: center;
}

.item-list .first-row {
  z-index: 4;
  margin-bottom: 30px;
}

.item-list .second-row {
  z-index: 3;
  margin-bottom: 30px;
}

.item-list .third-row {
  z-index: 2;
}

.item .btn {
  position: absolute;
  top: 337px;
  left: 45px;
  z-index: 1;
  width: 200px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
          box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
  display: none;
}

.item .btn:hover {
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background:         -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.item .btn:active {
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background:         -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.catalog-items .item::before,
.features-item .item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: 0;
  width: 293px;
  height: 405px;
  border-radius: 5px;
  background-color: rgba(248, 247, 244, 0.302);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  display: none;
}

.catalog-items .item:hover::before,
.features-item .item:hover::before {
  display: block;
}


.item:hover .btn {
  display: block;
}

/*pagination*/

.pagination {
  position: relative;
  width: 300px;
  margin-left: auto;
  margin-top: 45px;
  margin-bottom: 30px;
  text-align: right;
}

.pagination::before {
  position: absolute;
  content: "";
  top: 57px;
  right: 14px;
  width: 1148px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.302);
}

.pagination button {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  font-size: 0;
  text-align: center;
  border: none;
}

.pagination .page {
  width: 25px;
  height: 25px;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  border-radius: 50%;
}

.pagination .previous {
  margin-right: 15px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  cursor: default;
}

.pagination .next {
  margin-left: 13px;
  margin-right: 14px;
}

.next path {
  fill: rgb(255, 255, 255);
}

.pagination .page:hover:not(.active):not(:active) {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination .active,
.pagination .page:active {
  color: #323232;
  background-color: rgb(255, 255, 255);
}
